<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a routerLink="/" class="navbar-brand"><h3>Todo App</h3></a>
        <div class="d-flex justify-content-end">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="nav-item ">
                    <a routerLink="/todoItem">Add Todo</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/todoItemList">Todos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

